
<% if current_user %>
<a href= "movies/new" class="btn btn-primary btn-lg disabled">Add Movies</a>
<% end %>
<table id="table_style", align="right">
    <tr>
        <td><%= form_tag search_path do %></td>
        <td><%= select :movie, :search, Movie.select("distinct place").collect(&:place), :prompt => "Select Place" %></td>
        <td><%= submit_tag "Search", class: "btn btn-success", :place => nil %></td>
        <% end %>
    </tr>
</table>

<%= render @movies %>

